<!DOCTYPE html>
<html lang=cs>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1">
<title>{block title}Donut{/block}</title>
<link rel=stylesheet href="/assets/bootstrap.min.css">
<link rel=stylesheet href="/assets/donut.css">

{include content}

<script src="/assets/bootstrap.bundle.min.js"></script>
<script src="/assets/rows.js"></script>
